@import "twitter-bootstrap";

// Typography:
@font-face{
  font-family: "league gothic";
  src: url('../webfonts/League_Gothic-webfont.eot');
  src: url('../webfonts/League_Gothic-webfont.ttf') format('ttf');
  src: url('../webfonts/League_Gothic-webfont.svg#League_Gothic-webfont') format('svg');
  src: url('../webfonts/League_Gothic-webfont.woff') format('woff');
}

@mixin league-gothic {
  font-family: "league gothic", sans;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  background: url("../images/diddy.png") top center;
  overflow: hidden;
  
  .modal{
    position: absolute;
    top: -100%;
    margin-top:0;
    @include border-radius(0 0 6px 6px);
    @include box-shadow(0 3px 20px rgba(0,0,0,0.7));
    //animation:
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  
    &.onstage{
      top: 0;
    }
    
    &.slideout{
      top: -100%;
    }
  
  }
  
  button.close{
    padding: 4px 5px;
  }
  
  header {
    background: #eee;
    padding: 5%;
    height: 35px;
    h1{
      @include league-gothic;
      font-size: 2em;
      float: left;
      line-height: 1.7em;
      width: 10%;
    }
    select{
      @include league-gothic;
      font-size: 2em;
      float: left;
      height: 40px;
      width: 90%;
    }
  }
  
  form{
    margin-bottom:0;
  }

  .conversation {
    width: 90%;
    margin: 5%;
    >div{
      margin-bottom: 5%;
    }
    
    >ul{
      margin: 0;
     list-style: none;
     li{
        .profile-img{
          float: left;
          width: 8%; height: auto;
          margin-right: 2%;
        }
        > p {
          float: left;
          width: 88%;
          padding: 1%;
          margin-bottom: 0;
        }
        > div {
          clear: both;
          width: 88%;
          margin: 2% 0 0 10%;
          background: #f4f4f4;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          position: relative;
          
          > a.url-display{
            display:block;
            padding: 1%;
            min-height: 60px;
            
            &:hover{
              text-decoration: none;
              background: #edfff1;
            }
          }
        
          img{
            float: left;
            margin-right: 1%;
          }
          
          strong, span{
            display: block;
          }
          span{
            color: #777;
          }
          .url-remove{
            //width: 4px;
            //height: 5px;
            display: block;
            position: absolute;
            color: #aaa;
            top: 0px;
            right: 0px;
            padding: 0 3px;
            // top: -7px; right:-7px;
            // background: #aaa;
            // color: #fff;
            // padding: 6px 4px;
            // line-height: 0.2em;
            // height: 4px;
            // @include border-radius(14px);
            
            &:hover{
              text-decoration: none;
              //background: red;
              color: red;
              cursor: pointer;
            }
            
            span{
              display: none;
            }
          }
          .url-edit{
            width: 100%;
            display: block;
            position: absolute;
            text-align: center;
            bottom: -10px;
            clear: both;
            span{
              background: #aaa;
              color: #fff;
              padding: 0px 12px 1px;
              display: inline;
              @include border-radius(10px);
            }
            &:hover{
              text-decoration: none;
              span{
                background: #777;
              }
              cursor: pointer;
            }
          }
        }
        textarea{
          width: 90%;
          margin-bottom: -11px;
        }
        padding-bottom: 2%;
        margin-bottom: 2%;
        border-bottom: 1px #ccc dashed;
        &:last-child{
          border: 0;
        }
      }
    }
  }
 .submit{
    background: #eee;
    height: 26px;
    padding: 5%;
    .btn{
      float: right;
    }
    .multilevel {
      float: right;
      &:hover .btn:first-child {
        background-color: $btnPrimaryBackgroundHighlight;
        background-position: 0 -15px;
      }
      
      > .btn:last-child{
        padding-left: 0px;
        &:hover{
          @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
          border-left: 0;
          padding-left: 1px;
        }
      } 
    }
    .share{
      float: right;
    }
  }
}